<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vetra_anaam_report">

    <!-- Permissions (modify as needed) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:label="vetra_anaam_report"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Required meta-data for Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Flutter main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
